
    
    <div class="container">

                <div >
                
                    <a href="http://img.omdbapi.com/?i=tt3896198&apikey=a21b9531">
                
                        <img src="http://img.omdbapi.com/?i=tt3896198&apikey=a21b9531" class="img-fluid" alt="...">
                
                    </a>
                
                    <div class="card-body">
                
                        <h5 class="card-title">Titre :Guardians of the Galaxy Vol. 2</h5>
                        <p class="card-text">Genre :Action, Adventure, Comedy","Director</p>
                
                    </div>
                
                </div>

        <div>
                
            <a href="http://img.omdbapi.com/?i=tt3896198&apikey=a21b9531">
                
                <img src="http://img.omdbapi.com/?i=tt3896198&apikey=a21b9531" class="img-fluid" alt="...">
                
            </a>
                
            <div class="card-body">
                
                <h5 class="card-title">Titre :Guardians of the Galaxy Vol. 2</h5>
                <p class="card-text">Genre :Action, Adventure, Comedy","Director</p>
                
            </div>
                
        </div>

        <div>
                
            <a routerLink="descFilm">
                
                        <img src="http://img.omdbapi.com/?i=tt3896198&apikey=a21b9531" class="img-fluid" alt="...">
                
                    </a>
                
                    <div class="card-body">
                
                        <h5 class="card-title">Titre :Guardians of the Galaxy Vol. 2</h5>
                        <p class="card-text">Genre :Action, Adventure, Comedy","Director</p>
                
            </div>
                
        </div>

    </div>
