<!-- <div class="container">

        <div class="row">

            <ul *ngFor="let film of films">

                <div *ngIf="film.Title && film.Poster" class="col-sm-4 ">

                 <app-film [title]="film.Title" [poster]="film.Poster" [type]="film.Type" ></app-film>

                </div>
            </ul>


            
        
        
        </div>

</div> -->
<div class="container">

<table class="table table-striped table-dark">
    <thead>

    </thead>
    <tbody *ngFor="let film of films">
        <tr  >
            <th scope="row"><img src="./assets/camera.png"></th>
            <td>{{film.Title}}</td>
            <td>{{film.Type}}</td>
            <td>{{film.Year}}</td>
        </tr>

    </tbody>
</table>
</div>

